main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #75CCB2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    min-width: fit-content;
    min-height: fit-content;
    background-color: #262626;
    border-radius: 3.3rem;
    padding: 10px 0;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

.forms_wrap {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.8s ease-in-out;
    padding: 50px;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.heading {
    padding: 10px;
}

.heading h2 {
    font-size: 2rem;
    font-weight: 550;
    text-align: center;
    color: #fff;
}

.actual_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.input_wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_field {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px 0 5px 0;
    font-size: 0.95rem;
    color: #fff;
    transition: 0.4s;
}

label {
    font-size: 0.95rem;
    color: white;
    pointer-events: none;
    transition: 0.4s;
}

.input_wrap .userNameField {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-bottom: 1px solid #fff;
}

.input_wrap .passWordField {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    border-bottom: 1px solid #fff;
}

.userNameField.invalid {
    border-bottom: 1px solid red;
}

.passWordField.invalid {
    border-bottom: 1px solid red;
}

#toggle_password {
    background-color: transparent;
    border: none;
    outline: none;
}

#eye {
    width: 100%;
    height: 100%;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    color: #fff;
    cursor: pointer;
}

.login_btn {
    width: 70%;
    padding: 15px;
    background-color: #F7C142;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    transition: 0.3s;
}

.login_btn:hover {
    background-color: #deae3c;
}

.carousel {
    height: 100%;
    width: 50%;
    padding: 30px;
    border-radius: 2rem;
    overflow: hidden;
    transition: 0.8s ease-in-out;
}

.images_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.image {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    border-radius: 2rem;
    transition: opacity 0.3s, transform 0.8s;
    transform: scale(0.4, 0.5);
}

.image.show {
    opacity: 1;
    transform: none;
}

.bullets {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bullets span {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #aaa;
    margin: 0 0.25rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.bullets span.show {
    width: 1.1rem;
    background-color: #fff;
    border-radius: 1rem;
}

@media (max-width: 1000px) {
    .box {
        height: auto;
        width: 100%;
        max-width: 60%;
        overflow: hidden;
    }

    .forms_wrap {
        width: 100%;
        height: auto;
    }

    .form {
        padding: 1.5rem 2.5rem 2rem;
        transition: transform 0.8s ease-in-out, opacity 0.45s linear;
    }

    .carousel {
        display: none;
    }
}

.custom-shape-divider-bottom-1651570612 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1651570612 svg {
    position: relative;
    display: block;
    width: calc(100% + 1px);
    height: 133px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1651570612 .shape-fill {
    fill: #FFFFFF;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #262626 inset !important;
    -webkit-text-fill-color: white !important;
}