@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #262626;
}

body.wait, body.wait *{
    cursor: wait !important;
}

.bg {
    background-image: url("Naredo-vitaal-surfer whiet.png");

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -19;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
