header {
    display: flex;
    justify-content: space-between;
    background-color: #262626;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#nav_left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.logo {
    width: 45px;
    min-width: 45px;
    padding: 5px;
    max-width: 100%;
}

.logoText {
    padding-right: 20px;
}

#nav_center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    position: relative;
    display: flex;
    list-style: none;
    gap: 20px;
}

#menu li {
    cursor: pointer;
}

#menu li:hover {
    text-decoration: underline;
}

.burgerMenu {
    display: none;
    padding: 0 20px;
    cursor: pointer;
}

#closeMenu {
    font-size: 20px;
    display: none;
    padding: 10px 0 0 20px;
}

#nav_right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logout {
    color: white;
    zoom: 2.0;
    cursor: pointer;
    padding: 0 10px 0 0;
}

@media (max-width: 1000px) {
    #nav_center {
        order: 1;
        -webkit-order: 1;
        justify-content: flex-start;
    }

    .burgerMenu {
        display: block;
    }

    #menu {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        flex-direction: column;
        width: 0;
        overflow: hidden;
        max-width: fit-content;
        background-color: #262626;
        z-index: 1001;
        transition: width 0.4s;
    }

    #menu > li {
        padding: 5px 40px;
    }

    #closeMenu {
        display: block;
    }

    #closeMenu:hover {
        text-decoration: none;
        color: grey;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1000;
    }

    #nav_left {
        order: 2;
        -webkit-order: 2;
        align-items: center;
        justify-content: center;
    }

    #nav_right {
        order: 3;
        -webkit-order: 3;
    }
}