.sok-tile-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow: auto;
    gap: 20px;
}

.sok-tile {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #F4FBFB;
    cursor: pointer;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.sok-tile-name a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.sok-tile-name {
    background-color: #F7C142;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.sok-tile-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.sok-tile-content ion-icon  {
    width: 50%;
    height: 50%;
    object-fit: cover;
    color: black;
}

.sok-tile:hover .sok-tile-content {
    height: 0;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    color: transparent;
}

.sok-tile:hover .sok-tile-name {
    height: 100%;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;

    display: flex;
    justify-content: center;
    align-items: center;
}