select:invalid {
    color: gray;
}

select.invalid {
    background-color: #ffdddd;
}

option {
    background-color: white;
    color: black;
}

option:first-child {
    color: white;
}

input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    cursor: pointer;
    background-color: white;
}

select {
    background-image: url("Dropdown arrow.png");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
    background-color: white;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input.invalid {
    background-color: #ffdddd;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
