.mainFrame {
    position: relative;
    margin: 5% 7%;
    width: auto;
    height: 100%;
    min-height: fit-content;
    max-height: 100%;
    overflow: hidden;
    background-color: rgb(228, 228, 228);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.mainFrame li, .mainFrame a {
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

h1 {
    width: 100%;
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: #262626;
    border-radius: 4px;
}

.mainTable {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.regForm {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
}

.element {
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.submitElement {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    position: relative;
    padding: 5px 10px 5px 10px;
    gap: 5px
}

.submitElement > button {
    padding: 12px 45px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: auto;
}

.prev {
    color: black;
    background-color: white;
    border: 1px solid grey;
}

.prev:hover {
    background-color: lightgray;
}

.next {
    background-color: #273e48;
    color: white;
    border: 1px solid grey;
}

.next:hover {
    background-color: #3a5c6b;
}

.filler {
    flex: 1 1 auto;
}

.submit {
    background-color: #F7C142;
    color: black;
    border: 1px solid lightgray;
}

.submit:hover {
    background-color: #deae3c;
}

.labelDiv {
    width: 100%;
    background-color: #2980B9;
    opacity: 0.9;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    display: inline-flex;
    gap: 5px;
    align-items: center;
}

.label {
    color: #fbfbf8;
    font-weight: bold;
}

.infoIcon {
    color: #fbfbf8;
    padding: 0;
    margin: 0;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.infoDiv {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.infoTextDiv {
    width: 70%;
    color: black;
    background-color: transparent;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.infoTextDiv h2 {
    width: 100%;
    color: #fbfbf8;
    padding: 5px 15px 5px 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #2980B9;
    border-radius: 4px;
}

.infoText {
    padding: 10px;
    background-color: white;
}

.tab {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

overlay {
    display: none;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.confirmWorkout {
    display: none;
    position: absolute;
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 100%;
    z-index: 10001;
    flex-wrap: wrap;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    gap: 5px;
}

.confirmDiv {
    width: calc(50% - 13px);
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 4px;
    border-top: none;
    background-color: white;
}

.confirmDiv a {
    padding-left: 5px;
}

.confirmDiv:first-child {
    width: 100%;
}

.confirmDiv h2 {
    width: 100%;
    color: #fbfbf8;
    padding: 5px 15px 5px 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #2980B9;
    border-radius: 4px;
}

.confirmDivBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.confirm {
    display: flex;
    justify-content: center;
    width: 100%;
}

.finalSubmit {
    margin: 0 15px 5px 15px;
    width: 30%;
    padding: 12px 45px;
    cursor: pointer;
    background-color: #F7C142;
    color: black;
    border: 1px solid lightgray;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.finalSubmit:hover {
    background-color: #deae3c;
}

.cancel {
    margin: 0 15px 5px 15px;
    width: 30%;
    padding: 12px 45px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px solid grey;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancel:hover {
    background-color: lightgray;
}

@media (max-width: 1000px) {
    .mainFrame {
        max-height: 100%;
        height: 100%;
        flex-direction: column;
        overflow: auto;
    }

    form {
        height: auto;
        min-height: fit-content;
        background-color: rgb(228, 228, 228);
        overflow-y: inherit;
    }

    .element {
        width: 100%
    }

    .confirmDiv {
        width: 100%;
    }
}