.mainTable {
    margin: 2% 7% 5% 7%;
    height: 100%;
    min-height: fit-content;
    max-height: 100%;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    padding: 10px;
    color: white;
}

#myInput {
    height: fit-content;
    width: 80%;
    font-size: 16px;
    padding: 12px 2px 12px 45px;
    border: 1px solid #ddd;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    background-image: url("/table/searchIcon.png");
    background-size: 25px;
    background-position-y: center;
    background-position-x: 10px;
    background-repeat: no-repeat;
}

#table {
    height: 100%;
    max-height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
    border-radius: 4px;
}

#myTable {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    font-size: 18px;
}

table {
    border-spacing: 0;
    width: 100%;
}

th {
    text-align: left;
    font-size: 18px;
    padding: 12px;
    width: 100%;
    background-color: #262626;
    color: #FAF9F6;
    border-radius: 4px;
}

#myTable tr.header {
    border-collapse: collapse;
}

#myTable td {
    text-align: left;
    width: 100%;
}

#myTable tr {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}

#myTable tr:hover {
    cursor: default;
}

.editCopy {
    flex: 1;
    display: flex;
    max-width: fit-content;
    align-items: center;
    gap: 10px;
}

.editCopy button {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
}

.editCopy button:hover {
    cursor: pointer;
    /*box-shadow: 2px 2px 0 0 lightgray;*/
    background-color: lightgray;
    border-radius: 5px;
}

#edit {
    font-size: 20px;
    color: #262626;
}

#copy {
    font-size: 20px;
    color: #262626;
}

#delete {
    font-size: 20px;
    color: #262626;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}

.footer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    gap: 5px;
    height: fit-content;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

#aanmaken {
    padding: 12px 45px;
    background-color: #F7C142;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

#aanmaken:hover {
    background-color: #deae3c;
}

#terug {
    padding: 12px 45px;
    color: black;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

#terug:hover {
    background-color: lightgray;
}

input {
    font-size: 1px;
    float: right;
    padding-left: 1px;
    background-position: 1% 5%;
    background-repeat: no-repeat;
}
